<style>
  .play-btn {
    display: inline-block;
    background-color: #0a71f7;
    padding: 10px 60px;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
  }

  .play-btn:hover {
    background-color: #087bff;
    color: #FFFFFF;
  }

  .vlc-btn {
    display: inline-block;
    background-color: #ff760d;
    padding: 10px 30px;
    border-radius: 50px;
    color:#FFFFFF;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
  }

  .vlc-btn:hover {
    background-color: #fa7f0c;
    color: #FFFFFF;
  }

  .download-btn {
    display: inline-block;
    background-color: #f50a0a;
    padding: 10px 30px;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
  }

  .download-btn:hover {
    background-color: #ed0707;
  }
  
  .vlc.vlc-btn {
    display: inline-block;
    background-color: #6df70a;
    padding: 10px 30px;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
  }
  .open-btn {
  display: inline-block;
  background-color: #DC143C;
  padding: 10px 40px;
  border-radius: 50px;
  color: #FFFFFF;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  margin-right: 20px;
}

.open-btn:hover {
  background-color: #0052cc
  color: #FFFFFF;
}
</style>

<center>
  <div class="btn-container">
    <a href="intent:%s#Intent;package=com.mxtech.videoplayer.ad;S.title=Power%20by%20@Stream_link1_bot%20;end" class="play-btn">𝗣𝗹𝗮𝘆 𝗠𝗫 𝗽𝗹𝗮𝘆𝗲𝗿</a></center>
    <h5></h5>
    <center><a href="vlc://%s" class="vlc-btn">𝗣𝗹𝗮𝘆 𝗩𝗟𝗖 & 𝗩𝗗𝗫 𝗣𝗹𝗮𝘆𝗲𝗿𝘀</a>
    <h5></h5>
    
    

    <center><a href="playit://playerv2/video?url=%s" class="open-btn">Play in Playit </a>
    <h6></h6>
    
    
    
    <center><a href="%s" class="download-btn">𝗗𝗼𝘄𝗻𝗹𝗼𝗮𝗱 𝗙𝗶𝗹𝗲𝘀</a>
  </div>
